body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://sandvikenskommun.infocaption.com/media/20240119/4650/teamsbackground_sk.jpg);
  background-size: cover;
}

.container {
  width: 80%;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.navigation {
  margin-top: 20px;
  text-align: center;
}

#comments-container {
  margin-bottom: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
